.thumbnail {
  height: 200px;
  width: 225px;
  position: relative;
}

.list-item-container {
  width: 95%;
  text-align: left;
  /* background-color: green; */
}

.location-list-item {
  height: 200px;
  width: 100%;
  border: none;
  margin: 2%;
  /* background-color: orange; */
}

.text-thumbnail-container {
  width: 100%;
  height: 200px;
  /* background-color: purple; */
}

.text-container {
  display: inline-block;
  width: 340px;
  /* background-color: yellow; */
  position: relative;
  left: -12%;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: scroll;
  height: 200px;
}

.thumbnail-container {
  height: 200px;
  width: 50%;
  /* background-color: pink; */
  display: inline-block;
}

.title{
  color: black;
  font-size: 22px;
  text-align: left;
  position: relative;
  max-height: 20px;
  line-height: 22px;
  margin-bottom: 9%;

}

.description {
  color: black;
  font-size: 15px;
  text-align: left;
  position: relative;
  margin-right: 1%;
  /* background-color: gray; */
  line-height: 18px;
}

#list-item-container a {
    box-shadow: none;
}

#list-item-container a:hover {
  background-color: transparent;
}

@media only screen and (max-width: 1100px) {
  .text-container {
    left: -8%;
  }
}

@media only screen and (max-width: 800px) {
  .text-container {
    left: -12%;
    width: 240px;
  }

  .title {
    font-size: 18px;
  }

  .description {
    font-size: 14px;
  }

  .thumbnail {
    left: -10%;
  }
}

@media only screen and (max-width: 750px) {
  .list-item-container {
    height: 500px;
  }

  .text-thumbnail-container {
    /*Purple*/
  }

  .thumbnail-container {
    /*Pink*/
  }

  .thumbnail {
    height: 250px;
    width: 300px;
  }

  .text-container {
    /*Yellow*/
    position: relative;
    left: 27.5%;
    display: block;
  }

  .title, .description {
    text-align: center;
  }

}

@media only screen and (max-width: 700px) {

  .text-container {
    /*Yellow*/
    left: 26.5%;
    overflow: hidden;
  }
}

@media only screen and (max-width: 650px) {

  .text-container {
    /*Yellow*/
    left: 25%;
    overflow: hidden;
  }
}

@media only screen and (max-width: 600px) {
  .list-item-container {
    height: 500px;
  }

  .text-thumbnail-container {
    /*Purple*/
    with: 500px;
  }

  .thumbnail-container {
    /*Pink*/
  }

  .thumbnail {
    height: 250px;
    width: 300px;
  }

  .text-container {
    /*Yellow*/
    position: relative;
    left: 24%;
    display: block;
    overflow: hidden;
  }

  .title, .description {
    text-align: center;
  }
}


@media only screen and (max-width: 414px) {
  .list-item-container {
    height: 500px;
  }

  .text-thumbnail-container {
    /*Purple*/
    with: 400px;
  }

  .thumbnail-container {
    /*Pink*/
  }

  .thumbnail {
    height: 250px;
    width: 300px;
    left: -27%;
  }

  .text-container {
    /*Yellow*/
    position: relative;
    left: 20%;
    display: block;
    overflow: hidden;
  }

  .title, .description {
    text-align: center;
  }
}

* {
  box-sizing: border-box;
}

/* Grid measurements:
 *
 *   960px wide including 12 gutters (half gutters on both edges)
 *
 *   60px columns (12)
 *   20px gutters (two half-gutters + 11 full gutters, so 12 total)
 *
 *
 *   For smaller screens, we always want 20px of padding on either side,
 *   so 960 + 20 + 20 => 1000px
 *
 **/
.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-1, .col-3, .col-4, .col-6, .col-12 {
  float: left;

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.col-1, .col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}


/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-1 {
    width: 0.166667%;
  }

  .col-3 {
    width: 25%;
  }

  /* 4 columns, 4/12 in % */
  .col-4 {
    width: 33.333333%;
  }

  /* 6 columns, 6/12 in % */
  .col-6 {
    width: 50%;
  }

  /* 12 columns, 12/12 in % */
  .col-12 {
    width: 100%;
  }
}
