.thumbnail {
  height: 200px;
  width: 225px;
  position: relative;
}

.list-item-container {
  width: 95%;
  text-align: left;
  /* background-color: green; */
}

.location-list-item {
  height: 200px;
  width: 100%;
  border: none;
  margin: 2%;
  /* background-color: orange; */
}

.text-thumbnail-container {
  width: 100%;
  height: 200px;
  /* background-color: purple; */
}

.text-container {
  display: inline-block;
  width: 340px;
  /* background-color: yellow; */
  position: relative;
  left: -12%;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: scroll;
  height: 200px;
}

.thumbnail-container {
  height: 200px;
  width: 50%;
  /* background-color: pink; */
  display: inline-block;
}

.title{
  color: black;
  font-size: 22px;
  text-align: left;
  position: relative;
  max-height: 20px;
  line-height: 22px;
  margin-bottom: 9%;

}

.description {
  color: black;
  font-size: 15px;
  text-align: left;
  position: relative;
  margin-right: 1%;
  /* background-color: gray; */
  line-height: 18px;
}

@media only screen and (max-width: 1100px) {
  .text-container {
    left: -8%;
  }
}

@media only screen and (max-width: 800px) {
  .text-container {
    left: -12%;
    width: 240px;
  }

  .title {
    font-size: 18px;
  }

  .description {
    font-size: 14px;
  }

  .thumbnail {
    left: -10%;
  }
}

@media only screen and (max-width: 750px) {
  .list-item-container {
    height: 500px;
  }

  .text-thumbnail-container {
    /*Purple*/
  }

  .thumbnail-container {
    /*Pink*/
  }

  .thumbnail {
    height: 250px;
    width: 300px;
  }

  .text-container {
    /*Yellow*/
    position: relative;
    left: 27.5%;
    display: block;
  }

  .title, .description {
    text-align: center;
  }

}

@media only screen and (max-width: 700px) {

  .text-container {
    /*Yellow*/
    left: 26.5%;
    overflow: hidden;
  }
}

@media only screen and (max-width: 650px) {

  .text-container {
    /*Yellow*/
    left: 25%;
    overflow: hidden;
  }
}

@media only screen and (max-width: 600px) {
  .list-item-container {
    height: 500px;
  }

  .text-thumbnail-container {
    /*Purple*/
    with: 500px;
  }

  .thumbnail-container {
    /*Pink*/
  }

  .thumbnail {
    height: 250px;
    width: 300px;
  }

  .text-container {
    /*Yellow*/
    position: relative;
    left: 24%;
    display: block;
    overflow: hidden;
  }

  .title, .description {
    text-align: center;
  }
}


@media only screen and (max-width: 414px) {
  .list-item-container {
    height: 500px;
  }

  .text-thumbnail-container {
    /*Purple*/
    with: 400px;
  }

  .thumbnail-container {
    /*Pink*/
  }

  .thumbnail {
    height: 250px;
    width: 300px;
    left: -27%;
  }

  .text-container {
    /*Yellow*/
    position: relative;
    left: 20%;
    display: block;
    overflow: hidden;
  }

  .title, .description {
    text-align: center;
  }
}
