.thumbnail {
  height: 200px;
  width: 225px;
  position: relative;
}

.list-item-container {
  width: 100%;
  text-align: center;
}

.location-list-item {
  height: 200px;
  width: 60%;
  border: none;
  margin: 2%;
}

.text-thumbnail-container {
  width: 100%;
  height: 200px;
  /* background-color: purple; */
}

.text-container {
  display: inline-block;
  width: 340px;
  /* background-color: yellow; */
  position: relative;
  top: 0px;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: scroll;
  height: 200px;
}

.thumbnail-container {
  height: 200px;
  width: 50%;
  /* background-color: pink; */
  display: inline-block;
}

.title{
  color: black;
  font-size: 22px;
  margin-left: 5%;
  text-align: left;
  position: relative;
  max-height: 20px;
  line-height: 18px;
}

.description {
  color: black;
  font-size: 15px;
  text-align: left;
  position: relative;
  margin-left: 5%;
  margin-right: 1%;
  /* background-color: gray; */
  line-height: 18px;
}
