.user-profile-container {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
  margin-bottom: 10%;
  border: 8px solid #cdcfd3;
  position: relative;
}

.placeholder {
  background-color: green;
  position: relative;
  width: 100%;
  height: 400px;
}

.user-info-container {
  margin-top: 13%;
}

.username, .name {
  text-align: center;
  margin: 0px;
}

.user-locations-container {
  margin: 5%;
}

.locations-box {
  background-color: #cdcfd3;
  padding-top: .5%;
  padding-bottom: .5%;
  padding-left: 5%;
}

@media only screen and (max-width: 1100px) {

  .user-info-container {
    margin-top: 4%;
  }

  .username {
    font-size: 28px;
  }

  .name {
    font-size: 22px;
  }
}

@media only screen and (max-width: 1000px) {
}

@media only screen and (max-width: 900px) {

  .placeholder {
    height: 300px;
  }
}

@media only screen and (max-width: 800px) {

  .username {
    font-size: 28px;
  }

  .name {
    font-size: 22px;
  }

  .placeholder {
    height: 275px;
  }
}

@media only screen and (max-width: 700px) {

  .placeholder {
    height: 250px;
  }
}

@media only screen and (max-width: 600px) {

  .username {
    font-size: 24px;
  }

  .name {
    font-size: 18px;
  }

  .locations-label {
    font-size: 18px;
  }

  .locations-box {
    font-size: 14px;
  }

  .placeholder {
    height: 200px;
  }
}

@media only screen and (max-width: 500px) {

  .username {
    font-size: 21px;
  }

  .name {
    font-size: 15px;
  }

  .locations-label {
    font-size: 15px;
  }

  .locations-box {
    font-size: 13px;
  }
}

@media only screen and (max-width: 400px) {

  .username {
    font-size: 19px;
  }

  .name {
    font-size: 13px;
  }

  .locations-label {
    font-size: 13px;
  }

  .locations-box {
    font-size: 12px;
  }
}
