.user-profile-container {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
  margin-bottom: 10%;
  border: 8px solid #cdcfd3;
  position: relative;
}

.placeholder {
  background-color: green;
  position: relative;
  width: 100%;
  height: 400px;
}

.circle {
  background-image: url('https://i.postimg.cc/8zNQHZTf/GO.png');
  background-color: #6f7723;
  background-size: cover;
  position: absolute;
  height: 200px;
  width: 200px;
  border: 8px solid #cdcfd3;
  border-radius: 50%;
  top: 32%;
  left: 34%;
}

.user-info-container {
  margin-top: 13%;
}

.username, .name {
  text-align: center;
  margin: 0px;
}

.user-locations-container {
  margin: 5%;
}

.locations-box {
  background-color: #cdcfd3;
  padding-top: .5%;
  padding-bottom: .5%;
  padding-left: 5%;
}

@media only screen and (max-width: 1100px) {
  .circle {
    top: 36%;
  }
}

@media only screen and (max-width: 1000px) {
  .circle {
    left: 30%;
    top: 36%;
  }
}

@media only screen and (max-width: 900px) {
  .circle {
    height: 150px;
    width: 150px;
    left: 34%;
    top: 35%;
  }

  .placeholder {
    height: 300px;
  }
}

@media only screen and (max-width: 800px) {
  .circle {
    top: 31%;
    left: 31%;
  }

  .username {
    font-size: 28px;
  }

  .name {
    font-size: 22px;
  }

  .placeholder {
    height: 275px;
  }
}

@media only screen and (max-width: 700px) {
  .circle {
    height: 125px;
    width: 125px;
    top: 33%;
    left: 31%;
  }

  .placeholder {
    height: 250px;
  }
}

@media only screen and (max-width: 600px) {
  .circle {
    height: 100px;
    width: 100px;
    top: 33%;
    left: 35%;
    border: 6px solid #cdcfd3;
  }

  .username {
    font-size: 24px;
  }

  .name {
    font-size: 18px;
  }

  .locations-label {
    font-size: 18px;
  }

  .locations-box {
    font-size: 14px;
  }

  .placeholder {
    height: 200px;
  }
}

@media only screen and (max-width: 500px) {
  .circle {
    height: 75px;
    width: 75px;
    top: 37%;
    left: 34%;
    border: 5px solid #cdcfd3;
  }

  .username {
    font-size: 21px;
  }

  .name {
    font-size: 15px;
  }

  .locations-label {
    font-size: 15px;
  }

  .locations-box {
    font-size: 13px;
  }
}

@media only screen and (max-width: 400px) {
  .circle {
    height: 50px;
    width: 50px;
    top: 44%;
    left: 37%;
    border: 4px solid #cdcfd3;
  }

  .username {
    font-size: 19px;
  }

  .name {
    font-size: 13px;
  }

  .locations-label {
    font-size: 13px;
  }

  .locations-box {
    font-size: 12px;
  }
}
