.comment-container {
  background-color: #e0e2e5;
  margin: 5%;
}

.hidden {
  display: none;
}

.overlay {
  position: relative;
  height: inherit;
  width: inherit;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  z-index: 300;
}
