.individual-comment p,
.individual-comment strong {
  margin: 0;
}

.individual-comment {
  border: 1px, black;
  width: 100%;
  padding-bottom: 3%;
}

.comment-gray-box {
  width: 80%;
  color: black;
  background-color: #bbbcbf;
  position: relative;
  left: 9.5%;
  padding: 2%;
}

.confirm-delete {
  display: inline;
}

.delete-comment-button {
  position: relative;
  left: 83%;
}

@media only screen and (max-width: 900px) {
  .delete-comment-button {
    left: 78%;
  }
}

@media only screen and (max-width: 700px) {
  .delete-comment-button {
    left: 73%;
  }

  .comment-text {
    font-size: 13px;
  }
}

@media only screen and (max-width: 600px) {
  .delete-comment-button {
    left: 70.5%;
  }

  .comment-text {
    font-size: 12px;
  }
}

@media only screen and (max-width: 500px) {
  .delete-comment-button {
    left: 67%;
  }

  .comment-text {
    font-size: 11.5px;
  }
}

@media only screen and (max-width: 400px) {
  .delete-comment-button {
    left: 60.5%;
  }

  .comment-text {
    font-size: 11px;
  }
}
