.login-container {
  border: 8px solid #919ab7;
  height: 100%;
  text-align: center;
}

.login-input {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: 5px solid #e5e5e0;
  padding: 2%;
  width: 60%;
  margin-top: 1%;
}

.login-button {
  color: white;
  font-size: 17px;
  margin-top: 5%;
  padding: 3%;
  width: 45%;
  border: 5px solid #bbbcbf;
  background-color: #6f7723;
}

@media only screen and (min-width: 1300px) {
  .login-container {
    height: 70%;
  }
}

@media only screen and (max-width: 1050px) {
  .login-button {
    width: 62%;
  }
}


@media only screen and (max-width: 1000px) {
  .login-container {
    height: 80%;
  }

  .login-form-header {
    font-size: 25px;
  }

  .login-button {
    font-size: 15px;
    width: 60%;
  }
}

@media only screen and (max-width: 800px) {
  .login-container {
    height: 70%;
    width: 110%;
  }

  .login-form-header {
    font-size: 20px;
  }

  .login-button {
    font-size: 10px;
    width: 55%;
  }
}

@media only screen and (max-width: 600px) {
  .login-container {
    height: 80%;
    width: 110%;
  }
}

@media only screen and (max-width: 500px) {
  .login-container {
    height: 75%;
  }
}

@media only screen and (max-width: 414px) {
  .login-container {
    margin-top: 20%;
    height: 65%;
  }
}

@media only screen and (max-width: 370px) {
  .login-container {
    height: 70%;
  }
}

@media only screen and (max-width: 320px) {
  .login-container {
    width: 120%;
    height: 75%;
  }
}
