.registration-container {
  border: 8px solid #919ab7;
  height: 100%;
  text-align: center;
}

.registration-input {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: 5px solid #e5e5e0;
  padding: 2%;
  width: 60%;
  margin-top: 1%;
}

.registration-button {
  color: white;
  font-size: 17px;
  margin-top: 5%;
  padding: 3%;
  width: 45%;
  border: 5px solid #bbbcbf;
  background-color: #6f7723;
}

@media only screen and (max-width: 1050px) {
  .registration-button {
    width: 62%;
  }
}

@media only screen and (max-width: 1000px) {
  .registration-container {
    height: 85%;
  }

  .registration-form-header {
    font-size: 25px;
  }

  .registration-button {
    font-size: 15px;
    width: 60%;
  }
}

@media only screen and (max-width: 800px) {
  .registration-container {
    height: 70%;
    width: 110%;
  }

  .registration-form-header {
    font-size: 20px;
  }

  .registration-button {
    font-size: 10px;
    width: 60%;
  }

  .registration-input {
    border: 3px solid #e5e5e0;
  }
}
