#maproot {
  height: 100%;
}

.map {
  width: 465px;
  height: 300px;
}

@media only screen and (max-width: 1050px) {
  .map {
    width: 415px;
  }
}

@media only screen and (max-width: 900px) {
  .map {
    width: 360px;
  }
}

@media only screen and (max-width: 900px) {
  .map {
    width: 700px;
    height: 500px;
  }
}

@media only screen and (max-width: 700px) {
  .map {
    width: 600px;
    height: 400px;
  }
}

@media only screen and (max-width: 600px) {
  .map {
    width: 450px;
    height: 350px;
  }
}

@media only screen and (max-width: 450px) {
  .map {
    width: 400px;
    height: 325px;
  }
}

@media only screen and (max-width: 400px) {
  .map {
    left: 6.5%;
    width: 325px;
    height: 250px;
  }
}

@media only screen and (max-width: 375px) {
  .map {
    left: 6.5%;
    width: 300px;
    height: 225px;
  }
}

@media only screen and (max-width: 350px) {
  .map {
    left: 6.5%;
    width: 275px;
    height: 200px;
  }
}
