/* .App {
  text-align: center;
  background-color: var(--lgreen);
  margin: 100px;
  width: 80%;
} */

/*a:link, a:visited {
    max-width: 100px;
    background-color: var(--pink);
    color: var(--black);
    margin: 5px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: block;
    border-radius: 90px;
    border: 1px solid var(--black);
}

a:hover, a:active {
    background-color: var(--grey);
}*/
/*
h2 {
  font: 400 40px/1.5 Trebuchet MS;
  margin: 0;
  padding: 0;
} */
button, a {
  box-shadow: 0vw 1vh 5vh 1px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

button:hover, a:hover {
  background-color: #747C92;
}
/* button {
   border-top: 1px solid var(--black);
   background: var(--lgreen);
   background: -webkit-gradient(linear, left top, left bottom, from(var(--dgreen)), to(var(--lgreen)));
   background: -webkit-linear-gradient(top, var(--dgreen), var(--lgreen));
   background: -moz-linear-gradient(top, var(--dgreen), var(--lgreen));
   background: -ms-linear-gradient(top, var(--dgreen), var(--lgreen));
   background: -o-linear-gradient(top, var(--dgreen), var(--lgreen));
   padding: 10.5px 10.5px;
   -webkit-border-radius: 13px;
   -moz-border-radius: 13px;
   border-radius: 13px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: var(--black);
   font-size: 16px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
button:hover {
   border-top-color: var(--pink);
   background: var(--pink);
   color: var(--black);
   }
button:active {
   border-top-color: var(--blue);
   background: var(--blue);
   } */
